.container {
    padding-left: 9em;
    padding-right: 9em;
    min-width: 1300px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
}

/* Navbar styling */
.navbar {
    width: 100%;
    padding-left: 1em;
    font-size: 15px;
    border-left: solid 1px #6d4891;
}

::deep .navbar ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 1000px;
}

::deep .navbar li {
    white-space: nowrap;
}

::deep .navbar .nav-link {
    color: #9dbdd8 !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

::deep .navbar .nav-link:hover {
    color: #77529F !important;
    text-decoration: none !important;
}

/* Sub-navbar styling */
.sub-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 20px 13px 20px;
    border: solid 1px #6d4891;
}

::deep .sub-navbar a {
    text-decoration: none;
    color: #ffbc0d;
}

::deep .sub-navbar a:hover {
    text-decoration: none;
    color: #77529F;
}

::deep .sub-navbar .extra-links a {
    color: #2baf4f;
}

::deep .sub-navbar .main-links a:not(:last-child)::after {
    content: "|";
    color: #ffbc0d;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: normal;
    cursor: default;
    display: inline-block;
}

