::deep body {
    background-color: red;
}

.content {
    padding: 10px 100px 0px 100px;
    border-left: solid 1px #6d4891;
}

.content h1 {
    font-size: 17px;
    font-weight: bold;
    color: #f7bb19;
}

.content p {
    font-size: 15px;
    line-height: 14pt;
}
